# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.sqlite3
*.db

# Environment
.env
.venv

# IDE
.vscode/
.idea/